---
layout: page
title: Testimonials
sort: 2
---

<div ng-controller="testimonials" class="container ng-scope">
  <!--
  <div class="jumbotron projects">
    <h1>Testimonials</h1>
  </div>
-->
  
  <div class="row">
    <div ng-repeat="t in testimonials" ng-click="showTestimonial(t)" class="col-md-6 testimonial">
      <div class="well well-lg">
        <div class="testimonial-container">
          <div class="testimonial-quotechar">“</div>
          <div ng-bind-html="t.excerpt | to_trusted" class="testimonial-quote"></div>
        </div>
        <br>
        <br>
        <div ng-bind-html="t.from | to_trusted" class="from testimonial-from"></div>
      </div>
    </div>
  </div>
  
  <div id="tstmodal" class="modal fade" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button data-dismiss="modal" aria-hidden="true" class="close">×</button>
          <h3>Testimonial</h3>
        </div>
        <div class="modal-body">
          <div ng-bind-html="selectedTestimonial.text | to_trusted" class="testimonial-quote ng-binding"></div>
          <br>
          <div ng-bind-html="selectedTestimonial.from | to_trusted" class="testimonial-from ng-binding"></div>
        </div>
        <div class="modal-footer">
          <a data-dismiss="modal" href="#" class="btn btn-primary">Close</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var testimonialsLoad = {% include testimonials.json %};
</script>

