<div class="container">
  <div class="footer-info">
    <div class="row">
      <div class="company-location col-md-10 col-xs-8">
        <div class="block"><img src="https://maps.googleapis.com/maps/api/staticmap?center=Atlanta,GA&amp;zoom=4&amp;size=240x140&amp;maptype=roadmap&amp;markers=color:red%7Clabel:I%7CAtlanta,GA&amp;sensor=false"></div>
        <div class="block text"><strong>Innodroid LLC<br></strong>Atlanta, GA<br>
          (404) 939-1393<br><a href="mailto:greg@innodroid.com">greg@innodroid.com<br></a>
        </div><br style="clear:both">
      </div>
      <div class="company-links col-md-2 col-xs-4">
        <strong>Site Links<br></strong>
        <a href="/">Home<br></a>
        <a href="/testimonials">Testimonials<br></a>
        <a href="/contact">Contact Us<br></a>
      </div>
    </div>
  </div><br clear="both">
  <div id="footer">
    <p>© 2015 Innodroid LLC</p>
  </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="/js/app.js"></script>
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-51392349-1']);
  _gaq.push(['_trackPageview']);
  (function() {
  	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

